#
# Local bridge for Docker
# TODO: describe why we need this
#

auto {{ docker.interface }}
iface {{ docker.interface }} inet static
	address {{ docker.address }}
	netmask {{ docker.netmask }}
	bridge_ports none
	bridge_stp off
	bridge_maxwait 0
