CUSTOM_RESOLV_CONF=/etc/resolv.dnsmasq

make_resolv_conf() {
	if [ -n "$new_domain_name_servers" ]; then
		/bin/rm $CUSTOM_RESOLV_CONF
		[ -n "$new_domain_name" ] && echo search $new_domain_name > $CUSTOM_RESOLV_CONF
		for nameserver in $new_domain_name_servers; do
			echo nameserver $nameserver >> $CUSTOM_RESOLV_CONF
		done
	fi
}
